<div class="col-lg-10">  
    <h1>Profile</h1><p>This page shows your profile.</p>  
    <div class="col-lg-5">
        <form class="form" role="form" > 
            <table class="table" >
                <div class="form-group">
                    <tr><th>Name</th> <td><input class="form-control" id="name" type="text"
                            ng-model="profile.name" placeholder="{{profile.name}}"/></td></tr></div>
                <div class="form-group">
                    <tr> <th>Email</th><td><input class="form-control" id="email" type="email"
                           ng-model="profile.email" placeholder="{{profile.email}}"/></td></tr></div>
                <div class="form-group">
                    <tr><th>Contact Number</th><td><input class="form-control" id="contactNumber" type="tel"
                            ng-model="profile.contactNumber" placeholder="{{profile.contactNumber}}"/></td></tr></div>
                <div class="form-group">
                    <tr> <th>Gender</th><td><input class="form-control" id="gender" type="text"
                            ng-model="profile.gender" placeholder="{{profile.gender}}"/></td> </tr></div>
                <div class="form-group">
                    <tr><th>Industry</th><td><input class="form-control" id="industry" type="text"
                            ng-model="profile.industry" placeholder="{{profile.industry}}"/></td></tr></div>
                <div class="form-group">
                    <tr><th>Profession</th> <td><input class="form-control" id="profession" type="text"
                            ng-model="profile.profession" placeholder="{{profile.profession}}"/> </td></tr></div>
                <div class="form-group">
                    <tr><th>Company</th><td><input class="form-control" id="company" type="text" name="company" required
                            ng-model="profile.company" placeholder="{{profile.company}}">
                          <span ng-show="form.company.$invalid">The name is required.</span></td></tr></div>
                <div class="form-group">
                    <tr><th>Location</th><td><input class="form-control" id="location" type="text"
                            ng-model="profile.location" placeholder="{{profile.location}}"/></td></tr></div>
                <tr><td><a type="submit" ng-click="editProfile()" class="btn btn-small btn-primary">Save changes</a> </td></tr>
            </table>        
        </form>
    </div>
    <div class="col-lg-5">       
        <div ui-view="map"></div>        
    </div>
</div>