<div class="col-lg-10">  <!-- this div makes everything stay aligned next to the Navigation panel -->
    <h1>Clients</h1>
    <p>This page shows all your clients</p>  
    <div class="col-lg-10" >
        <form  name="client_form" class="form-horizontal" role="form">
            <table class="table" >
                <!--List all the clients-->
                <tr ng-repeat="x in userOption">
                      <th>{{x.user}}</th>
                  <td><a class="btn btn-small btn-success" ng-click="selectClient({uid: x.uid})">Select</a></td>              
                </tr>
            </table>
        </form>
    </div>
</div>

