<h1>Edit Event</h1>

<div class="col-lg-9 ">  <!-- this div makes everything stay aligned next to the Navigation panel -->
    <form action="#/events" name="edit_form" class="form-horizontal" role="form">

      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
          <input class="form-control" id="sku"
                 ng-model="marker.email" placeholder="Email"/>
        </div>
      </div>

      <div class="form-group">
        <label for="latitude" class="col-sm-2 control-label">Latitude</label>
        <div class="col-sm-4">
          <input class="form-control" id="latitude"
                 ng-model="marker.coords.latitude" placeholder="-33.9258477"/>
        </div>
      </div>

      <div class="form-group">
        <label for="longitude" class="col-sm-2 control-label">Longitude</label>
        <div class="col-sm-4">
            <input class="form-control" id="longitude" 
                 ng-model="marker.coords.longitude" placeholder="18.427631"/>
        </div>
      </div>

     <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-4">
            <input class="form-control" id="title" 
                 ng-model="marker.modalWindow.title" placeholder="Title"/>
        </div>
      </div>

      <div class="form-group">

        <div class="col-sm-offset-2 col-sm-10">
          <input  type="submit" id="submit" class="btn btn-small btn-primary" ng-click="editMarker()" >
          <a ng-click="cancel()" class="btn btn-small btn-danger">Cancel</a>
        </div>
      </div>
    </form>
</div>